In [28]:
cd D:\HKUST\data mining and knowledge discovery\Project\work2

D:\HKUST\data mining and knowledge discovery\Project\work2

In [3]:
import pandas as pd
# beijing polution data
aq_17_18 = pd.read_csv('airQuality_201701-201801.csv')
aq_1802_1803 = pd.read_csv('airQuality_201802-201803.csv')
aq_1804 = pd.read_csv('aiqQuality_201804.csv')
# beijing observed weather data
ow_1701_1801 = pd.read_csv('observedWeather_201701-201801.csv')
ow_1802_1803 = pd.read_csv('observedWeather_201802-201803.csv')
ow_1804 = pd.read_csv('observedWeather_201804.csv')
ow_1804 = pd.read_csv('observedWeather_20180501-20180502.csv')
# beijing grid weather data
gw_1701_1803 = pd.read_csv('gridWeather_201701-201803.csv')
gw_1804 = pd.read_csv('gridWeather_201804.csv')
gw_180501_180502 = pd.read_csv('gridWeather_20180501-20180502.csv')

In [17]:
ow_1701_1801.loc[0,'wind_speed']

1.6

In [18]:
for i in range(len(ow_1701_1801)):
    ow_1701_1801.loc[i,'wind_speed'] = ow_1701_1801.loc[i,'wind_speed']*3.6

In [19]:
ow_1701_1801.to_csv('observedWeather_201701-201801.csv')

In [20]:
aq_17_18.describe()

,PM2.5,PM10,NO2,CO,O3,SO2
count,290621.000000,227747.000000,292359.000000,268197.000000,290589.000000,292462.000000
mean,58.785570,88.059259,45.792457,0.960677,55.692755,8.981003
std,66.113851,89.292875,32.065045,1.001856,53.821424,11.702594
min,2.000000,5.000000,1.000000,0.100000,1.000000,1.000000
25%,16.000000,37.000000,20.000000,0.400000,12.000000,2.000000
50%,39.000000,70.000000,39.000000,0.700000,45.000000,5.000000
75%,77.000000,113.000000,66.000000,1.200000,79.000000,11.000000
max,1004.000000,3000.000000,300.000000,15.000000,504.000000,307.000000

In [21]:
ow_1701_1801.head(5)

,station_id,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed,weather
0,shunyi_meo,116.615278,40.126667,2017-01-30 16:00:00,-1.7,1028.7,15,215.0,5.76,Sunny/clear
1,shunyi_meo,116.615278,40.126667,2017-01-30 17:00:00,-3.5,1028.4,24,16.0,3.60,Haze
2,shunyi_meo,116.615278,40.126667,2017-01-30 18:00:00,-3.7,1028.1,27,32.0,3.96,Haze
3,shunyi_meo,116.615278,40.126667,2017-01-30 19:00:00,-3.9,1027.6,27,21.0,3.24,Haze
4,shunyi_meo,116.615278,40.126667,2017-01-30 20:00:00,-4.1,1026.7,26,17.0,3.96,Haze

In [22]:
longitude = list(ow_1701_1801['longitude'])
latitude = list(ow_1701_1801['latitude'])
utc_time = list(ow_1701_1801['utc_time'])
wind_direction = list(ow_1701_1801['wind_direction'])
wind_speed = list(ow_1701_1801['wind_speed'])
temperature = list(ow_1701_1801['temperature'])
pressure = list(ow_1701_1801['pressure'])
humidity = list(ow_1701_1801['humidity'])

print(ow_1701_1801.shape)
ow_1701_1801.describe()

(158047, 10)

,longitude,latitude,temperature,pressure,humidity,wind_direction,wind_speed
count,158047.000000,158047.000000,158047.000000,158047.000000,158047.000000,157813.000000,1.578130e+05
mean,116.395672,40.047275,38.182775,1026.798200,354.312894,35487.471178,3.489620e+02
std,0.395223,0.264798,5030.694816,5025.748455,17423.723518,184454.823456,3.509589e+04
min,115.692222,39.718611,-21.300000,940.000000,4.000000,0.000000,0.000000e+00
25%,116.194167,39.847500,2.500000,994.200000,27.000000,78.000000,3.240000e+00
50%,116.290556,39.973889,13.800000,1005.600000,48.000000,190.000000,5.400000e+00
75%,116.626944,40.223333,23.200000,1016.900000,73.000000,280.000000,9.000000e+00
max,117.117778,40.658889,999999.000000,999999.000000,999999.000000,999999.000000,3.599996e+06

In [23]:
len(gw_1701_1803)

7034706

In [24]:
# complete the observation station data by using grid weather data
from tqdm import tqdm 

gw = {}

g_longitude = list(gw_1701_1803['longitude'])
g_latitude = list(gw_1701_1803['latitude'])
g_utc_time = list(gw_1701_1803['utc_time'])
g_temperature = list(gw_1701_1803['temperature'])
g_pressure = list(gw_1701_1803['pressure'])
g_humidity = list(gw_1701_1803['humidity'])
g_wind_drirection = list(gw_1701_1803['wind_direction'])
g_wind_speed = list(gw_1701_1803['wind_speed/kph'])

for i in tqdm(range(len(gw_1701_1803))):
    t_key = str(g_longitude[i]) + str(g_latitude[i]) + str(g_utc_time[i])
    gw.setdefault(t_key,[]).append(g_temperature[i])
    gw.setdefault(t_key,[]).append(g_pressure[i])
    gw.setdefault(t_key,[]).append(g_humidity[i])
    gw.setdefault(t_key,[]).append(g_wind_drirection[i])
    gw.setdefault(t_key,[]).append(g_wind_speed[i])

100%|████████████████████████████████████████████████████████████████████| 7034706/7034706 [00:29<00:00, 238869.96it/s]

In [25]:
import numpy as np

for i in tqdm(range(len(temperature))):
    if np.isnan(wind_direction[i]) or wind_direction[i] > 360:
        t_key = str(round(longitude[i],1)) + str(round(latitude[i],1)) + str(utc_time[i])
        wind_direction[i] = gw[t_key][3]
    if np.isnan(wind_speed[i]) or wind_speed[i] > 100:
        t_key = str(round(longitude[i],1)) + str(round(latitude[i],1)) + str(utc_time[i])
        wind_speed[i] = gw[t_key][4]
    if temperature[i] > 50:
        t_key = str(round(longitude[i],1)) + str(round(latitude[i],1)) + str(utc_time[i])
        temperature[i] = gw[t_key][0]
    if pressure[i] == 999999:
        t_key = str(round(longitude[i],1)) + str(round(latitude[i],1)) + str(utc_time[i])
        pressure[i] = gw[t_key][1]
    if humidity[i] == 999999:
        t_key = str(round(longitude[i],1)) + str(round(latitude[i],1)) + str(utc_time[i])
        humidity[i] = gw[t_key][2]

100%|██████████████████████████████████████████████████████████████████████| 158047/158047 [00:00<00:00, 370917.34it/s]

In [26]:
ow = []
ow.append(list(ow_1701_1801['station_id']))
index = [longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed]
for each in index:
    ow.append(each)
ow.append(list(ow_1701_1801['weather']))

c_index = ['station_id','longitude','latitude','utc_time','temperature','pressure','humidity','wind_direction','wind_speed','weather']
ow_1701_1801_full = pd.DataFrame(np.transpose(ow) ,index = None, columns = c_index)

ow_1701_1801_full.to_csv('ow_1701_1801_full.csv')

ow_1701_1801_full.head()

,station_id,longitude,latitude,utc_time,temperature,pressure,humidity,wind_direction,wind_speed,weather
0,shunyi_meo,116.6152777777778,40.126666666666665,2017-01-30 16:00:00,-1.7,1028.7,15,215.0,5.760000000000001,Sunny/clear
1,shunyi_meo,116.6152777777778,40.126666666666665,2017-01-30 17:00:00,-3.5,1028.4,24,16.0,3.6,Haze
2,shunyi_meo,116.6152777777778,40.126666666666665,2017-01-30 18:00:00,-3.7,1028.1,27,32.0,3.9600000000000004,Haze
3,shunyi_meo,116.6152777777778,40.126666666666665,2017-01-30 19:00:00,-3.9,1027.6,27,21.0,3.24,Haze
4,shunyi_meo,116.6152777777778,40.126666666666665,2017-01-30 20:00:00,-4.1,1026.7,26,17.0,3.9600000000000004,Haze

In [29]:
# Generate meteorological data of air condition stations
aq_position = pd.read_csv('air_station_position.csv')

aq_longitude = list(aq_position['longitude'])
aq_latitude = list(aq_position['latitude'])
aq_station_id = list(aq_position['stationId'])

# Group by coordinates
df1 = pd.read_csv('gridWeather_201701-201803.csv')
bj_meo_gen = []
bj_meo = df1.groupby(["longitude","latitude"])
for i in tqdm(range(35)):
    bj_meo_gen.append(bj_meo.get_group((round(aq_longitude[i],1),round(aq_latitude[i],1))).drop(['stationName'],axis=1))

100%|██████████████████████████████████████████████████████████████████████████████████| 35/35 [00:01<00:00, 33.56it/s]

In [30]:
cd D:\HKUST\data mining and knowledge discovery\Project\work2\air condition weather data

D:\HKUST\data mining and knowledge discovery\Project\work2\air condition weather data

In [31]:
# Generate meteorological data of observation points according to grid data corresponding to coordinates
# path = 'D:\HKUST\data mining and knowledge discovery\Project\work2\air condition weather data'
for i in range(35):
    bj_meo_gen[i].to_csv(str(aq_station_id[i].split('_aq')[0]) + '.csv')

In [32]:
def get_missing_data_table(data):
    total = data.isnull().sum()
    percentage = data.isnull().sum() / data.isnull().count()
    missing_data = pd.concat([total,percentage],axis = 'columns',keys = ['TOTAL','PERCENTAGE'])
    return missing_data.sort_index(ascending = True)

In [33]:
get_missing_data_table(aq_17_18)

           TOTAL  PERCENTAGE
CO         42813    0.137658
NO2        18651    0.059969
O3         20421    0.065660
PM10       83263    0.267718
PM2.5      20389    0.065557
SO2        18548    0.059638
stationId      0    0.000000
utc_time       0    0.000000